.text {
  position: absolute;
  top: 0;
  left: 6%;

  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: normal;
  transition: all 0.2s;

  &:hover {
    color: #75A7C3;
  }
}
