.block {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #E4EAFF;
  border-radius: 15px;

  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.5em;
}

.block__form {
  position: relative;

  width: 494px;
  min-height: 250px;
  margin-bottom: 1.5rem;

  & ul {
    list-style: none;
    margin-top: 2rem;
    padding: 0;
  }
}

.item {
  margin-top: 2.125rem;
  margin-bottom: 1.687rem;
  margin-left: 1.56rem;
}

.check {
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & p {
    margin: 0;
  }

  &__length {
    width: 30px;

    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;

    background-color: transparent;
    border: none;
    outline: none;
  }
}

.check__box {
  position: absolute;
  width: 1.25em;
  height: 1.25em;
  right: 2.8em;

  cursor: pointer;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none'%3E%3Cpath stroke='%23142758' d='M.5.5h29v29H.5z'/%3E%3C/svg%3E");
}

.check__input:checked + .check__box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none'%3E%3Cpath stroke='%23142758' d='M.5.5h29v29H.5z'/%3E%3Cpath fill='%23142758' d='m9.414 13.899 5.694 5.694-1.414 1.414L8 15.313z'/%3E%3Cpath fill='%23142758' d='M13 18.9 22.9 9l1.413 1.414-9.9 9.9z'/%3E%3C/svg%3E");
}

.check__input:focus-visible + .check__box {
  outline: 2px solid #1042c0;
}

.button {
  margin-bottom: 2.5rem;

  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: #75A7C3;
  }

  &:disabled {
    color: #868787;
    cursor: default;
  }
}

.password {
  position: relative;
  align-items: center;

  width: 494px;
  min-height: 54px;

  &__text {
    overflow-wrap: anywhere;
    padding: 1em;
  }

  &__button {
    position: absolute;
    bottom: 35%;
    right: 15%;

    width: 23px;
    height: 23px;

    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s;

    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.8588 0H4.73189V2.69531H2.1416V23H18.1797L18.1757 20.6641H20.8588V0ZM3.48926 21.6523V4.04297H16.7995L16.8297 21.6523H3.48926ZM19.5112 19.3164H18.1734L18.1449 2.69531H6.07954V1.34766H19.5112V19.3164Z' fill='%23142758'/%3E%3C/svg%3E");

    &:focus-visible {
      outline: 2px solid #1042c0;
    }

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.8588 0H4.73189V2.69531H2.1416V23H18.1797L18.1757 20.6641H20.8588V0ZM3.48926 21.6523V4.04297H16.7995L16.8297 21.6523H3.48926ZM19.5112 19.3164H18.1734L18.1449 2.69531H6.07954V1.34766H19.5112V19.3164Z' fill='%2375A7C3'/%3E%3C/svg%3E");
    }

    &__done {
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='13' viewBox='0 0 17 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.41406' y='4.8995' width='8.05243' height='2' transform='rotate(45 1.41406 4.8995)' fill='%23142758'/%3E%3Crect x='5' y='9.8995' width='14' height='2' transform='rotate(-45 5 9.8995)' fill='%23142758'/%3E%3C/svg%3E");

      &:hover {
        cursor: default;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='13' viewBox='0 0 17 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.41406' y='4.8995' width='8.05243' height='2' transform='rotate(45 1.41406 4.8995)' fill='%23142758'/%3E%3Crect x='5' y='9.8995' width='14' height='2' transform='rotate(-45 5 9.8995)' fill='%23142758'/%3E%3C/svg%3E");
      }
    }

  }
}

