.main {
  &__title {
    margin-bottom: 1.017em;

    font-family: poppins, sans-serif;
    font-size: 4em;
    font-weight: 400;
    text-align: center;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    text-align: center;
  }

  &__text {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 2.25em;
    line-height: normal;

    &:hover {
      color: #75A7C3;
    }
  }
}

.main a {
  color: white;
  text-decoration: none;
}

